packages/contracts/node_modules
packages/contracts/.env
packages/contracts/coverage
packages/contracts/coverage.json
packages/contracts/typechain

#Hardhat files
packages/contracts/cache
packages/contracts/artifacts

packages/frontend/node_modules
